/* Google Poppins Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* Base CSS */
.theme_color{
    color: #ff6d19;
}

body{
    font-family: 'Poppins', sans-serif;
}



.theme_button {
    background-color: #fc801e;
    color: #fff;
}

a:hover, a:focus{text-decoration: none}
input:focus,button:focus,textarea:focus{outline: none;}
img{max-width: 100%;height: auto;}
a.nav-link.active {
    color: #fff;
}

section{
    margin-top: 80px;
}


/* Header CSS */
span.cart_count.position-absolute {
    top: 5px;
    left: 13px;
    background-color: #000;
    color: #fff;
    /* padding: 5px; */
    width: 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
}

header i.fa-solid.fa-cart-shopping {
    font-size: 22px;
}

/* Banner */
.banner_info h1 {
    font-size: 3rem;
    font-weight: 700;
}

.banner_info {
    margin-top: 130px;
    margin-bottom: 130px;
}

.hero_area {
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
}

/* About */
#about .fa-solid {
    font-size: 50px;
    color: #fc801e;
}

.card {
    border: 1px solid #fc801e;
}

#about .card:hover {
    background-color: #fcc092;
    transition: all 1s;
}